main .section {
    margin: 3.75rem 0rem;

    h2 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1.25rem;
        font-weight: 500;

        span {
            color: var(--primary-color);
        }
    }
}

#about .container {
    padding: 0rem 1.25rem;
    display: flex;
    flex-direction: column;

    figure {
        width: 100%;

        img {
            border-top: 0.625rem solid var(--primary-color);
            border-left: 0.625rem solid var(--primary-color);
            border-right: 0.625rem solid white;
            border-bottom: 0.625rem solid white;
        }
    }

    div {
        width: 100%;
        padding: var(--gap);
        text-align: center;
    }

    p,
    h4 {
        margin-bottom: var(--gap);
    }

    p {
        color: var(--text-color);
    }
}