main .section {
    margin: 3.75rem 0rem;

    h2 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1.25rem;
        font-weight: 500;

        span {
            color: var(--primary-color);
        }
    }
}

/* inicio about us */
#about .container {
    padding: 0rem 1.25rem;
    display: flex;
    flex-direction: column;

    figure {
        width: 100%;

        img {
            border-top: 0.625rem solid var(--primary-color);
            border-left: 0.625rem solid var(--primary-color);
            border-right: 0.625rem solid white;
            border-bottom: 0.625rem solid white;
        }
    }

    div {
        width: 100%;
        padding: var(--gap);
        text-align: center;
    }

    p,
    h4 {
        margin-bottom: var(--gap);
    }

    p {
        color: var(--text-color);
    }
}

/* inicio call to action */

#callto {
    background-image: url(../images/qt-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    padding: 5rem 0rem;
    text-align: center;
    color: white;

    blockquote {
        font-style: italic;
        font-size: 150%;
        font-family: var(--secondary-font);
        margin-bottom: var(--gap);
        line-height: 1.5rem;
    }

    author {
        font-size: 120%;
    }
}

/* inicio sección gallery */


#gallery .grid {
    padding: 1.25rem;
    display: grid;
    gap: var(--gap);
}

#gallery .grid article {
    position: relative;
    overflow: hidden;

    .content {
        position: absolute;
        width: 100%;
        background-color: var(--primary-color);
        color: white;
        padding: 0.9375rem;
        transition: .5s;
    }

    h3 {
        font-size: 160%;
    }

    p {
        font-family: var(--secondary-font);
        font-size: 200%;
        margin-top: 0.625rem;
    }

    img {
        transition: 1s;
    }
}

#gallery .grid article:hover {

    .content {
        transform: translateY(-95px);
        transition: 1s;
    }

    img {
        transform: scale(1.2) rotateZ(7deg);
        transition: 2s;
    }
}