@media(width>=62rem) {
    header .hamburguer {
        display: none;
    }

    header nav ul {
        width: calc(100% - 12.5rem);
        display: flex;
        margin-top: 10px;
        justify-content: end;
    }

    header nav ul li {
        margin: 0px 10px;
    }

    header nav ul a {
        padding: 10px 20px;
    }

}