/* 768 */
@media(width>=48rem) {
    #gallery .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}



/* 992px */
@media(width>=62rem) {
    header .hamburguer {
        display: none;
    }

    header nav ul {
        width: calc(100% - 12.5rem);
        display: flex;
        margin-top: 0.625rem;
        justify-content: end;
    }

    header nav ul li {
        margin: 0rem 0.625rem;
    }

    header nav ul a {
        padding: 0.625rem 1.25rem;
    }

    #about .container {
        flex-direction: row;

    }

    #gallery .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}